@import "bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #34d399; /* Tailwind green-400 */
  --foreground: #171717;
  --primary-color: #34d399; /* Tailwind green-400 */
  --secondary-color: #10b981; /* Tailwind green-500 */
  --accent-color: #fbbf24; /* Tailwind yellow-400 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #f5e6ca;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

button {
  background-color: var(--primary-color);
  color: var(--foreground);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem; /* Tailwind rounded-md */
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
}

.carousel-indicators {
  visibility: hidden;
}
